html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1000px;
    margin: auto;
}

.row{
    width: 100%;
}

.row::after{
    content: '';
    clear: both;
    display: block;
 }

[class*="col-"]{
    width: 100%;
}

[class*="col-"]{
    float: left;
    padding:15px;
}

 /* header starts*/
 header{
 background-color:#24a19c;
 padding:1% 1%;
 text-align: center;
 display: block;
 }

 .logo{
    width:70px;
    height: 70px;
    border-radius: 60%;
    line-height: 90px;
    color:white;
    border:2px solid white;
    text-align: center;
    margin: 0 auto;

 }
 nav ul li{
    display: block;
 }
 nav ul li a{
   display: block;
   text-decoration: none;
   line-height: 70px;
   text-transform: uppercase;
   padding: 0 20px;
   color: white;
   font-size: 0.9rem;
   font-family: 'Roboto',sans-serif;
   transition: 0.4s;

 }
nav ul li a:hover{
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    }
    
 /* header ends*/

 /* Banner Section Starts*/
 #banner-section{
  background-image: url("IMAGE/banner.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}


.banner-contents{
  padding: 50px 10px;
  text-align: center;
  }
  .banner-contents h1{
    width: 100%;
    background-color: rgba(225,225,0,0.8   );
    font-size: 3rem;
    margin:15px auto;
    border-radius: 3px;
    padding: 10px;
    font-family: "Sofia",sans-serif;

  }
  .banner-contents p{
    width: 300px;
    background-color:rgb(0,128,0);
    color:white;
    margin: 15px auto;
    padding: 5px;
    font-size: 1.5rem;

  }
  .btn{
    width: 200px;
    padding: 10px;
    font-size: 1.3rem;
    border:none;
    border-radius: 5px;
    transition: 0.4s;
    background-color:rgb(0,128,0);
    color:white; 
    text-transform: uppercase;

  }
  .btn:hover{
    transform: scale(1.2);
  }

 /* Banner Section ends*/

 /* About us starts*/
 #about-us{
  padding: 1%;
 }
 .contents{
  text-align: center;
 }
 .contents h3{
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bolder;
 }
 .contents p{
  font-size: 1rem;
  margin-bottom: 10px;
 }
 /* About us ends*/

/*menu-section starts*/
#menu-section{
  padding: 1%;
}
.card-body{
  text-align: center;
}
.card-body img{
  max-width: 100%;
  height: auto;
  display: block;
}
.item-desc{
  background-color: rgb(165,164,164);
}
.item-1{
  background-color: green;
  color: white;
  padding: 10px;
}
.item-desc>p{
  padding: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}
.card-body{
  transition: 0.4s;
}
.card-body:hover{
  transform: scale(1.1);
}


.item-2{
  background-color: green;
  color: white;
  padding: 10px;
}

.item-3{
  background-color: green;
  color: white;
  padding: 10px;
}
.item-4{
  background-color: green;
  color: white;
  padding: 10px;
}
/*menu-section ends*/

/*contact section starts*/
#contact-section{
  padding: 1%;
  background-color: #595b83;
}
.contact-details{
  color: white;
  text-align: center;
  padding: 20px 0;
}
.map{
  width: 100%;
  height: 250px;
}
.contact-details p, address{
  text-align: center;
  font-size: 0.8rem;
}
/*contact section ends*/

/*footer starts*/
footer{
  padding: 1%;
  color:white;
  background-color: #060930;
}
footer p{
  text-align: center;
  font-size: 0.8rem;
  line-height: 32px;
}
.social-menu{
  text-align: center;
}
.icon-style{
  text-align: center;
  color: white;
  margin: 0,10px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border: 1px solid white;
  border-radius: 50%;
  transition: 0.4s;
}


/*footer ends*/

/*for small devices(portrait tablet, large phone and 576px and up)*/
@media screen and (min-width: 576px){
    
    .col-s-1{width:8.33%;}
    .col-s-2{width:16.66%;}
    .col-s-3{width:25%;}
    .col-s-4{width:33.33%;}
    .col-s-5{width:41.66%;}
    .col-s-6{width:50%;}
    .col-s-7{width:58.33%;}
    .col-s-8{width:66.66%;}
    .col-s-9{width:75%;}
    .col-s-10{width:83.33%;}
    .col-s-11{width:91.66%;}
    .col-s-12{width:100%;}
     }

/*for medium devices(768px and up)*/
@media screen and (min-width: 768px){
    
    .col-m-1{width:8.33%;}
    .col-m-2{width:16.66%;} 
    .col-m-3{width:25%;}
    .col-m-4{width:33.33%;}
    .col-m-5{width:41.66%;}
    .col-m-6{width:50%;}
    .col-m-7{width:58.33%;}
    .col-m-8{width:66.66%;}
    .col-m-9{width:75%;}
    .col-m-10{width:83.33%;}
    .col-m-11{width:91.66%;}
    .col-m-12{width:100%;}
     }

/*for large devices(992px and up)*/
@media screen and (min-width: 992px){
    .logo{
      text-align: left;
    }
  nav ul{
    text-align: right;
  }
  nav ul li{
    display: inline-block;
  }
  nav ul li a{
    display: inline-block;
  }
  nav ul li a:hover{
    background-color: transparent;
    text-decoration: underline;
    transform: scale(1.2);
    border-radius: o;
  }

 /* banner starts*/


.banner-section h1{
  font-size: 3.5rem;
  width: 300px;
}

.banner-section p{
  font-size: 2rem;
  width: 200px;
}
/*banner ends*/
/*footer starts*/
footer p{
  text-align: left;
}
.social-menu{
  text-align:right ;
}

/*footer ends*/
    .col-l-1{width:8.33%;}
    .col-l-2{width:16.66%;}
    .col-l-3{width:25%;}
    .col-l-4{width:33.33%;}
    .col-l-5{width:41.66%;}
    .col-l-6{width:50%;}
    .col-l-7{width:58.33%;}
    .col-l-8{width:66.66%;}
    .col-l-9{width:75%;}
    .col-l-10{width:83.33%;}
    .col-l-11{width:91.66%;}
    .col-l-12{width:100%;}
     }