    /*desktop*/

    .col-1{width:8.33%;}
    .col-2{width:16.66%;}
    .col-3{width:25%;}
    .col-4{width:33.33%;}
    .col-5{width:41.66%;}
    .col-6{width:50%;}
    .col-7{width:58.33%;}
    .col-8{width:66.66%;}
    .col-9{width:75%;}
    .col-10{width:83.33%;}
    .col-11{width:91.66%;}
    .col-12{width:100%;}
  /* navbar starts    */
.nav-logo{
    text-align: left;
}
.nav-heading h1{
    text-align: right;
}

.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
  
}
.nav-menu a{
    padding: 10px 10px;
    margin: 20px 20px;
    background-color: transparent;
}
.nav-menu a:hover{
    transform:scale(1.2)

}
/* navbar ends */
/* profile section starts */
.profile .top-weather-icon{
    position: absolute;
    right:100px;
    top:20px;
    transition: 2s;
    width: 120px;
}
.profile .top-weather-icon:hover{
width: 140px;
}

.profile .bottom-weather-icon{
    position: absolute;
    left:100px;
    bottom:20px;
    transition: 2s;
    width: 120px;
}
.profile .bottom-weather-icon:hover{
    width: 140px;
}

.profile-desc p{
    color: gray;
    margin: 20px auto;
    text-align: center;
    width: 50% ;
}
.profile::after{
    content: '';
    display: table;
    clear: both;
}



/* profile section ends */

/* about me starts */
h2{
    text-align: center;
    font-size: 2rem;
}
.dotted-hr{
    text-align: center;
    margin-left: 620px;
    margin-top: 10px;
}
.aboutme-image{
    margin-top:100px;
}
.aboutme-image img{
    height:270px;
    width:250px;
}
.aboutme-desc p{
  text-align: left;
}



/* about me ends */

/* professional education starts */
.professional-education{
    padding: 1% 7%;
}

/* professional education ends */


/* achievement contact starts here */
.dotted-hr{
    text-align: center;
    margin-left: 620px;
    margin-top: 10px;
}


.achievement{
    padding-right: 50px;
}
.contact button{
 width: 150px;
}
.contact-link{
    position: relative;
}
.media-button{
    position: absolute;
    margin-top: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
}  
 
.achievement::after{
    content: '';
    display: table;
    clear: both;
}

/* achievement contact ends here */


/* footer starts */
.footer-menu a{
    display: inline;
    color: white;
}

.footer-desc{
    text-align: center;
}
.footer-menu a:hover{
color: goldenrod;
}


.footer::after{
    content: '';
    display: table;
    clear: both;
}






/* footer ends */







